.claimerGlobal{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: var(--main);
    z-index: 1000;
    color: white;
}

.claimerDiv {
    text-align: center;
    padding-top: 200px;
}