.claimerGlobal{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: var(--main);
    z-index: 1000;
    color: white;
}

.claimerDiv {
    text-align: center;
    padding-top: 200px;
    width: 50%;
    margin: 0 auto;
}

.claimerFormDiv{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
}

.inputClaimer {
    background-color: white !important;
}