.intro {
  height: 800px;
  padding-top: 150px;
  background: var(--main);
  background: linear-gradient(180deg, rgba(53,69,114,1) 6%, rgba(95,108,143,1) 36%, rgba(255,255,255,1) 95%); 
}

.introDiv {
  color: white;
  max-width: 900px;
  color:  white;
  padding-top: 50px;
  margin: 0 auto;
}
 
.backimg {
  background-image: url('../media/backimage.png');
  background-repeat: no-repeat;
  background-position: bottom;
  height: 550px;
}

.standardContainer {
  color: var(--colorText);
  padding: 50px 0;
  
}

.standardDiv{
  color: var(--colorText);;
  max-width: 900px;
  margin: 0 auto;
  margin-top: -200px;
  margin-bottom: 200px;
}

.standardDiv h3 {
  padding-bottom: 75px;
}

.title{
  color: var(--main);
}
.descriptionText {
  /* width: 95%; */
  padding: 10px;
  /* width: 100%; */
}

.imageHowITWorks {
  width: 30px;
  margin-bottom: 20px;
}

.descriptionDivFlex {
  display: flex;
  align-items: center;
  text-align: center;

}

.descriptionSubText{
  text-align: center;
  padding: 0 5px 40px 5px;

}